@inherits LayoutComponentBase

@using Objects
@*@inject UsersDbContext db*@

<PageTitle>SolvableBlazor</PageTitle>

<div class="page">
    <main>
        <NavMenu></NavMenu>
            <content>
                @Body
            </content>
    </main>
</div>

@code {
}