@inherits LayoutComponentBase

@using Objects
@*@inject UsersDbContext db*@

<PageTitle>SolvableBlazor</PageTitle>

<div class="page">
    <main>
        <NavMenu></NavMenu>

        <CascadingValue Value="@currentUser">
            <content>
                @Body
            </content>
        </CascadingValue>
    </main>
</div>

@code {
    User currentUser = new User();

    //protected override void OnInitialized()
    //{
    //    base.OnInitialized();
    //    User currentUser = db.Users.FirstOrDefault(u => u.Username == "Admin");
    //}
}