@using SolvableBlazor.Objects
@inject User currentUser


<div class="topnav">
    <a href="/generator" class="btn-black">Play</a>
    @if (currentUser != null)
    {
        <a href="/login"  class="btn-black">Log In</a>
    }
    else
    {
        <a href="/profile" class="btn-black">Profile</a>
    }
    <a href="/admin" class="btn btn-outline-dark">Admin</a>
</div>

    

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
