@using SolvableBlazor.Objects
@inject User session


<div class="topnav">
    <a href="/" class="btn-black">Home</a>

    @if (string.IsNullOrEmpty(session.Username))
    {
        <a href="/generator" class="btn-black">Play</a>
        <a href="/login" class="btn-purple">Log In</a>
    }
    else
    {
        <a href="/generator" class="btn-purple">Play</a>
        <a href="/profile" class="btn-black">Profile</a>
    }
    <a href="/admin" class="btn btn-outline-dark">Admin</a>
</div>

    

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
