@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@500;700&display=swap');

body {
    font-family: 'Gantari', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

content {
    display: table;
    margin: auto;
}

.topnav {
    display: table;
    margin: auto;
    font-size: 50px;
}

    .topnav a {
        margin-right: 5px;
    }

.header-1 {
    margin-right: 100px;
    font-size: 70px;
    font-weight: 600;
    background-size: 250px;
    background-repeat: round;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(154deg, #c000ff, #ff005e)
}

.input-short {
    width: 100px;
    font-size: 130%;
}

.btn-purple {
    padding: 8px 33px;
    background: linear-gradient(154deg, #c000ff, #ff005e);
    border: 0px;
    box-shadow: none;
    border-radius: 30px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

    .btn-purple:hover {
        box-shadow: 0px 5px 5px #ffffff30, 0px 10px 30px #ff469599;
        color: white;
    }


.btn-black {
    padding: 8px 33px;
    background: black;
    border: 0px;
    box-shadow: none;
    border-radius: 30px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

    .btn-black:hover {
        box-shadow: 0px 5px 5px #ffffff30, 0px 10px 30px black;
        color: white;
    }