    @page "/generator"

    @using Objects

    @inject Session session
    @inject UsersDbContext db

    <h1>Solve problems, earn points.</h1>
    <content>
        <form @onsubmit=Enter>
            <br />
            <h1>@problemToDisplay</h1>
            <input class="input-short" type="text" onkeydown="Enter" @bind=@userInput />
            <button class="btn btn-success" @onclick="Enter">ENTER</button>
            <br />
        </form>
        <h4>Score: @exp</h4>
        <h3>@msg</h3>
    </content>


@code {
    int exp;

    string userInput = "";
    string problemToDisplay = "";
    string msg = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoadData();
        Update();
    }

    void Enter()
    {
        if (!string.IsNullOrWhiteSpace(userInput))
        {
            if (LoggedIn())
            {
                if (isAnswerCorrect())
                {
                    session.CurrentUser.Exp += session.Problem.Score;
                    session.CreateMathProblem();
                    msg = "Correct";
                }
                else
                {
                    msg = "Incorrect";
                }

                Update();
            }
            else
            {
                NotLoggedInAlert();
            }

        }
    }

    bool isAnswerCorrect()
    {
        string answer = session.Problem.Answer.ToString();

        return (userInput == answer);
    }

    bool LoggedIn()
    {
        return session.CurrentUser.Username != null;
    }

    void Update()
    {
        // display problem
        problemToDisplay = session.Problem.StringValue;

        // empty the strings
        userInput = "";
        msg = "";

        //if (LoggedIn())
        //{
        //    exp = session.CurrentUser.Exp;
        //}
        //else NotLoggedInAlert();

        try
        {
            exp = session.CurrentUser.Exp;

        }
        catch (Exception e)
        {
            NotLoggedInAlert();
        }
    }

        void LoadData()
        {
            if (db.Users.ToList().Any(u => u.Username == "aaaa"))
            {
                session.CurrentUser = db.Users.FirstOrDefault(u => u.Username == "Admin");    
            }
            else
            {
                NotLoggedInAlert();
            } 
        }

        void NotLoggedInAlert()
        {
            msg = "Вы не авторизованы.";
        }
    }