@page "/generator"

@using Objects

@inject User currentUser
@inject UsersDbContext db

<h1>Solve problems, earn points.</h1>
<content>
    <form @onsubmit=Enter>
        <br />
        <h1>@problemToDisplay</h1>
        <input class="input-short" type="text" onkeydown="Enter" @bind=@userInput />
        <button class="btn btn-success" @onclick="Enter">ENTER</button>
        <br />
    </form>
    <h4>Score: @exp</h4>
    <h3>@msg</h3>
</content>


@code {
    int exp;

    string userInput = "";
    string problemToDisplay = "";
    string msg = "";

    void Enter()
    {
        if (!string.IsNullOrWhiteSpace(userInput))
        {
            if (IsLoggedIn())
            {
                if (IsAnswerCorrect())
                {
                    currentUser.Exp += currentUser.Problem.Score;
                    currentUser.CreateMathProblem();
                    db.SaveChanges();

                    msg = "Correct";
                }
                else
                {
                    msg = "Incorrect";
                }

                Update();
            }
            else
            {
                NotLoggedInAlert();
            }

        }
    }

    bool IsAnswerCorrect()
    {
        string answer = currentUser.Problem.Answer.ToString();

        return (userInput == answer);
    }

    bool IsLoggedIn()
    {
        return !string.IsNullOrEmpty(currentUser.Username);
    }

    void Update()
    {
        // display problem
        problemToDisplay = currentUser.Problem.ProblemStr;

        // empty the strings
        userInput = "";
        msg = "";

        //set score
        exp = currentUser.Exp;

        //save score to db
        if (IsLoggedIn())
        {
            var user = db.Users.First(u => u.Username == currentUser.Username);
            user.Exp = currentUser.Exp;
            user.Problem = currentUser.Problem;
            db.SaveChanges();
        }
        else NotLoggedInAlert();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Update();
    }

    void NotLoggedInAlert()
    {
        msg = "Вы не авторизованы.";
    }
}