@page "/login"

@using Objects

@inject User currentUser
@inject UsersDbContext db

<content>
    <h1 class="header-1">Log In</h1>
    <h3>Username</h3>
    <input type="text" @bind=@username />
    <form @onsubmit=TryLogIn>
        <h3>Password</h3>
        <input type="text" @bind=@password />
    </form>
    <br />
    <h3 style="margin-left: 10px">OR</h3>
    <a href="/signup" class="btn-purple">Sign Up</a>
    <h3>@msg</h3>
</content>


@code {
    string username = "Admin";
    string password = "admin";
    string msg = "";

    void TryLogIn()
    {
        if (UserExists())
        {
            if (Authenticate(username, password))
            {
                SetCurrentUser();
                Update();
                msg = "Succesfully Logged In";
            }
            else
            {
                msg = "Incorrect Password";
            }
        }
        else
        {
            msg = "That user does not exist. You should Sign Up First";
        }
    }

    void SetCurrentUser()
    {
        var user = db.Users.First(user => user.Username == username);

        currentUser.Username = user.Username;
        currentUser.Exp = user.Exp;
        currentUser.Problem = user.Problem;
    }

    bool Authenticate(string? username, string? password)
    {
        var user = db.Users.FirstOrDefault(user => user.Username == username);

        return user != null && user.Password == password;
    }

    bool UserExists()
    {
        return db.Users.ToList().Any(u => u.Username == username);
    }

    void Update()
    {
        username = "";
        password = "";
    }
}
